%h2 
  Paciente:
  = @anemia.patient.display_name

- if local_assigns.has_key?(:readonly) && readonly
  = readonly_form_for([@patient, @anemia], url: edit_patient_anemia_path(@patient, @anemia), :html => { :class => 'form-horizontal anemia'}) do |f|
    = render 'fields', f: f
- else
  = simple_form_for([@patient, @anemia], url: nested_url(@patient, @anemia), :html => { :class => 'form-horizontal anemia'}) do |f|
    = f.error_notification
    = render 'fields', f: f
