= simple_form_for(@patient) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :code
    = f.input :birthday

  .form-actions
    = f.button :submit
