- if local_assigns.has_key?(:readonly) && readonly
  = readonly_form_for(@patient, :html => { :class => 'form-horizontal'}) do |f|
    = render 'fields', f: f
- else
  = simple_form_for(@patient, :html => { :class => 'form-horizontal'}) do |f|
    = f.error_notification
    = render 'fields', f: f
