%p#notice= notice

%p
  %b First name:
  = @patient.first_name
%p
  %b Last name:
  = @patient.last_name
%p
  %b Code:
  = @patient.code
%p
  %b Birthday:
  = @patient.birthday

= link_to 'Edit', edit_patient_path(@patient)
\|
= link_to 'Back', patients_path
