!!!
%html
  %head
    %title Hreg
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => root_url} Hreg
        .nav-collapse.collapse
          = render_navigation :renderer => BootstrapNavigation
          / %p.navbar-text.pull-right
          /   Hola
          /   %a.navbar-link{:href => "#"} Username!
        / /.nav-collapse
  .container-fluid
    .row-fluid
      .span12
        = render_navigation :renderer => BootstrapBreadcrumbs
    .row-fluid
      .span12
        = yield

    %hr/
    %footer
      %p &copy; Brian J. Cardiff 2013
